kind: ConfigMap
apiVersion: v1
metadata:
  namespace: kevin-apps
  name: my-cloudsdk-config
data:
  config: |
    {
      "type": "external_account",
      "audience": "identitynamespace:planar-night-391421.svc.id.goog:IDENTITY_PROVIDER",
      "service_account_impersonation_url": "https://iamcredentials.googleapis.com/v1/projects/-/serviceAccounts/g-service-accessor@planar-night-391421.iam.gserviceaccount.com:generateAccessToken",
      "subject_token_type": "urn:ietf:params:oauth:token-type:jwt",
      "token_url": "https://sts.googleapis.com/v1/token",
      "credential_source": {
        "file": "/var/run/secrets/tokens/gcp-ksa/token"
      }
    }
---
kind: Namespace
apiVersion: v1
metadata:
  name:  kevin-apps
---
kind: ServiceAccount
apiVersion: v1
metadata:
  namespace:  kevin-apps
  name: kevin-apps-ksa-name
automountServiceAccountToken: false
---
#apiVersion: v1
#kind: Pod
#metadata:
#  name: server-one-pod
#  namespace:  kevin-apps
#spec:
#  serviceAccountName: kevin-apps-ksa-name
#  containers:
#  - name: server-one
#    image: docker.io/kevinbedrock/server-one
#    env:
#      - name: GOOGLE_APPLICATION_CREDENTIALS
#        value: /var/run/secrets/tokens/gcp-ksa/google-application-credentials.json
#    volumeMounts:
#    - name: gcp-ksa
#      mountPath: /var/run/secrets/tokens/gcp-ksa
#      readOnly: true
#    resources:
#      limits:
#        memory: "128Mi"
#        cpu: "500m"
#      ports:
#        - containerPort: 5000
#  volumes:
#  - name: gcp-ksa
#    projected:
#      defaultMode: 420
#      sources:
#      - serviceAccountToken:
#          path: token
#          audience: planar-night-391421.svc.id.goog
#          expirationSeconds: 172800
#      - configMap:
#          name: my-cloudsdk-config
#          optional: false
#          items:
#            - key: "config"
#              path: "google-application-credentials.json"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: server-one-deployment
  namespace: kevin-apps
spec:
  replicas: 3
  selector:
    matchLabels:
      run: server-one
  template:
    metadata:
      labels:
        run: server-one
  serviceAccountName: kevin-apps-ksa-name
  containers:
  - name: server-one
    image: docker.io/kevinbedrock/server-one
    env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /var/run/secrets/tokens/gcp-ksa/google-application-credentials.json
    volumeMounts:
    - name: gcp-ksa
      mountPath: /var/run/secrets/tokens/gcp-ksa
      readOnly: true
    resources:
      limits:
        memory: "128Mi"
        cpu: "500m"
      ports:
        - containerPort: 5000
  volumes:
  - name: gcp-ksa
    projected:
      defaultMode: 420
      sources:
      - serviceAccountToken:
          path: token
          audience: planar-night-391421.svc.id.goog
          expirationSeconds: 172800
      - configMap:
          name: my-cloudsdk-config
          optional: false
          items:
            - key: "config"
              path: "google-application-credentials.json"
#    spec:
#      containers:
#      - name: server-one
#        image: docker.io/kevinbedrock/server-one 
#        resources:
#          limits:
#            memory: "128Mi"
#            cpu: "500m"
#        ports:
#        - containerPort: 5000
---
apiVersion: v1
kind: Service
metadata:
  name: server-one-service
  namespace: kevin-apps
  labels:
    run: server-one
spec:
  externalIPs:
  - 192.168.5.12
  selector:
    run: server-one
  ports:
    - port: 5000

